@model mysql_connect.Models.Categorie

@{
    ViewData["Title"] = "Details";
}
<style>


    .btn-details {
        background-color: #17a2b8; /* Teal */
        color: #fff; /* White */
    }


    .action-button {
        margin-bottom: 10px; /* Adjust the margin for space between buttons */
        transition: all 0.3s ease;
    }

        .action-button:hover {
            transform: scale(1.1);
            opacity: 0.8;
        }
</style>
<h1>Details</h1>

<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Accesorii_Componente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Accesorii_Componente)
    </dd>
</dl>

<div>
    <a asp-action="Index" class="btn btn-details action-button">Back to List</a>
</div>
